# Directory created by bundle install
docs/vendor
docs/_site

# Virtual environment names
venv/

# Ruby stuff
.bundle/
Gemfile.lock

# LaTeX auxiliary files
cv.aux
cv.log
cv.out
cv.synctex.gz

#VSCode Settings
.vscode/

# Mac Files
.DS_Store

# pycache files
__pycache__/
